<form class="form" action="/url" method="POST">
<h1 style="font-size: xx-large;color:#0AA1DD"><b>HOŞGELDİNİZ</b> </h1><br><br>


  <a href="/dashboard" class="float">
    <i class="fa fa-home fa-lg my-float"></i>
  </a>
</form><br>
<h3 style="font-size: large;color:#0AA1DD">Bu sitede url linklerinizi kısaltabilirsiniz. </h3><br>
<h5 style="color:#0AA1DD">Başlamak için home ikonuna tıklayın.</h5>