<div class="accountbg"></div>
<form class="form" action="/url" method="POST">
<h1 style="font-size: xx-large;color:#fff"><b>HOŞGELDİNİZ</b> </h1><br><br>


  <a href="/dashboard" class="float">
    <i class="fa fa-home fa-lg my-float"></i>
  </a>
</form><br>
<h3 style="font-size: large;color:#fff">Bu sitede url linklerinizi kısaltabilirsiniz. </h3><br>
<h5 style="color:#fff">Başlamak için home ikonuna veya butona tıklayın .</h5> <br><br>
<a href="/users/login"><button class="custom-btn btn-5"><span>Başlayalım !</span></button> </a>
